body {
  background-color: #000000;
  color: #067506;
  /* font-family: "ZX Spectrum", arial; */
  font-family: "Courier New", monospace;
  text-align: center;
}

h1 {
  font-size: 60px;
}

img {
  height: 200px;
  width: 30%;
  border: 1px solid #4caf50;
}

/* #itemArea {
  display: none;
} */
